.menu-link {
	color: black;
	margin-right: 1.25rem;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

/*.menu-link.ativo {
	color: #333333;
	font-weight: bold;
}
*/
.menu-link:hover {
	text-decoration: underline;
}